@charset "utf-8";

* {margin: 0; padding: 0;}
li { list-style: none; }
/*--------reset--------*/
#listWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 100px auto 0;
    padding: 10px 0;
    background-color: rgb(245, 138, 255);
    /* outline: 1px solid red; */
}
    h1 { 
        letter-spacing: -0.06em;
        color: rgb(67, 18, 71);
    }
    .searchWrap {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }
        #inputValue {
            width: 300px;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
            margin-right: 5px;
        }
        #inputValue:focus { outline: 0; }
        .addBtn {
            width: 35px;
            height: 35px;
            background-color: rgb(67, 18, 71);
            border-radius: 5px;
            position: relative; /*span의 기준*/
            cursor: pointer;
        }
            .addBtn span {
                display: block; /*span은 inline이기 때문에 없으면 가로세로 값을 줄 수가 없음*/
                background-color: #fff;
                width: 25px;
                height: 3px;
                border-radius: 2px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            .addBtn span:nth-child(2) {
                transform: translate(-50%,-50%) rotate(90deg);
            }
    #List {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 0 auto;
        /* outline: 1px solid red; */
    }
        li {
            display: flex;
            align-items: center;
            width: 500px;
            background-color: #eee;
            padding: 10px 0 10px 80px;
            /* border-bottom: 1px solid #aaa; */
            box-sizing: border-box;
            color: #333;
            position: relative;
        }
        li:last-child { border:none; }
        li:hover {
            background-color: #ddd;
        }
            li span {
                display: block; /*span은 inline이기 때문에 없으면 가로세로 값을 줄 수가 없음*/
                background-color: #333;
                width: 15px;
                height: 2px;
                border-radius: 2px;
                position: absolute;
                right: 80px;
                transform: rotate(45deg);
                cursor: pointer;
            }
            
            li span:nth-child(2) {
                transform: rotate(-45deg);
            }
            li.clear {
                color: #aaa;
                text-decoration: line-through;
            }
        input { margin-right: 10px;}
        
